# -------------------------
# Rails / Ruby
# -------------------------
*.rbc
capybara-*.html
.rspec
/log/*
/tmp/*
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-*
/public/system/*
/storage/*
/coverage/*
/spec/tmp/*
/*.pid
*.pid.lock
.byebug_history
# Rails credentials
/config/master.key
/config/credentials/*.key
# Ignore node_modules (if using Webpacker/Vite)
node_modules/

# -------------------------
# Bundler
# -------------------------
.bundle
vendor/bundle
Gemfile.lock

# -------------------------
# Node / JS
# -------------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.eslintcache
.vscode/

# -------------------------
# iOS / Swift
# -------------------------
ios/DerivedData/
/ios/build/
/ios/*.pbxuser
ios/*.mode1v3
ios/*.mode2v3
ios/*.perspectivev3
ios/*.xcworkspace/xcuserdata/
/ios/xcuserdata/
/ios/*.moved-aside
ios/*.xcuserstate
UserInterfaceState.xcuserstate
*.xccheckout
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# -------------------------
# Android / Kotlin
# -------------------------
*.apk
*.ap_
*.dex
*.class
*.log
*.iml
.gradle
/local.properties
/.idea
/captures/
/outputs/
/build/
/android/.cxx/
android/local.properties
android/app/build/

# -------------------------
# macOS / OS cruft
# -------------------------
.DS_Store
.AppleDouble
.LSOverride
Icon?
ehthumbs.db
Thumbs.db

# -------------------------
# Other IDE cruft
# -------------------------
*.swp
*~
.project
.settings/
